<%= form_for(@inproceeding) do |f| %>

    <% if @inproceeding.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@inproceeding.errors.count, "error") %> prohibited this reference from being saved:</h2>

          <ul>
            <% @inproceeding.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h2>Required fields: </h2>

    Key: <%= f.text_field :key%>
    <br>
    Author: <%= f.text_field :author%>
    <br>
    Title: <%= f.text_field :title %>
    <br>
    Booktitle: <%= f.text_field :booktitle %>
    <br>
    Year: <%= f.number_field :year %>
    <br>

    <h2>Optional fields: </h2>

    Editor: <%= f.text_field :editor %>
    <br>
    Volume: <%= f.text_field :volume %>
    <br>
    Series: <%= f.text_field :series %>
    <br>
    Starting page: <%= f.text_field :pagestart %>
    <br>
    End page: <%= f.text_field :pageend %>
    <br>
    Address: <%= f.text_field :address %>
    <br>
    Month: <%= f.text_field :month %>
    <br>
    Organization: <%= f.text_field :organization %>
    <br>
    Publisher: <%= f.text_field :publisher %>
    <br>
    Note: <%= f.text_field :note %>
    <br>
    <%= f.submit %>
<% end %>