<h1>New inproceeding</h1>

<h2>Create new inproceeding</h2>

<%= form_for(@inproceeding) do |f| %>
    Author: <%= f.text_field :author%>
    <br>
    Title: <%= f.text_field :title %>
    <br>
    Booktitle: <%= f.text_field :booktitle %>
    <br>
    Year: <%= f.number_field :year %>
    <br>
    Editor: <%= f.text_field :editor %>
    <br>
    Volume: <%= f.text_field :volume %>
    <br>
    Series: <%= f.text_field :series %>
    <br>
    Starting page: <%= f.text_field :pagestart %>
    <br>
    End page: <%= f.text_field :pageend %>
    <br>
    Address: <%= f.text_field :address %>
    <br>
    Month: <%= f.text_field :month %>
    <br>
    Organization: <%= f.text_field :organization %>
    <br>
    Publisher: <%= f.text_field :publisher %>
    <br>
    Note: <%= f.text_field :note %>
    <br>
    <%= f.submit %>
<% end %>
<%= link_to 'Back', references_path %>
