<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h2>Required fields: </h2>

    Author: <%= f.text_field :author%>
    <br>
    Title: <%= f.text_field :title %>
    <br>
    Publisher: <%= f.text_field :publisher%>
    <br>
    Year: <%= f.number_field :year %>
    <br>

    <h3>Optional fields:</h3>
    Editor: <%= f.text_field :editor %>
    <br>
    Booktitle: <%= f.text_field :booktitle %>
    <br>
    Volume: <%= f.text_field :volume %>
    <br>
    Series: <%= f.text_field :series %>
    <br>
    Starting page: <%= f.text_field :pagestart %>
    <br>
    End page: <%= f.text_field :pageend %>
    <br>
    Address: <%= f.text_field :address %>
    <br>
    Month: <%= f.text_field :month %>
    <br>
    Organization: <%= f.text_field :organization %>
    <br>
    Journal: <%= f.text_field :journal%>
    <br>
    Note: <%= f.text_field :note %>
    <br>
    <%= f.submit %>
<% end %>
