<h1>Listing references</h1>

<%= link_to 'Get BIBTEX', bibtex_path %>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Key</th>
      <th>Author</th>
      <th>Title</th>
      <th>Publisher</th>
      <th>Journal</th>
      <th>Booktitle</th>
      <th>Pages</th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.referencetype %></td>
        <td><%= reference.key if reference.key %></td>
        <td><%= reference.author if reference.author %></td>
        <td><%= reference.title if reference.title %></td>
        <td><%= reference.publisher if reference.publisher %></td>
        <td><%= reference.journal if reference.journal %></td>
        <td><%= reference.booktitle if reference.booktitle %></td>
        <td><%= reference.pagestart if reference.pagestart %> - <%= reference.pageend if reference.pageend %></td>
        <td><%= link_to 'Show', reference %></td>
        <td>
          <% if reference.referencetype == 'Article' %>
            <%= link_to 'Edit', edit_article_path(reference) %>
          <% elsif reference.referencetype == 'Inproceedings' %>
             <%= link_to 'Edit', edit_inproceeding_path(reference) %>
          <% elsif reference.referencetype == 'Book' %>
             <%= link_to 'Edit', edit_book_path(reference) %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inproceeding', new_inproceeding_path %>
<br>
<%= link_to 'New Article', new_article_path %>
<br>
<%= link_to 'New Book', new_book_path %>

<%= image_tag 'rainbow-02.jpg', size:"250x100", alt:"Peace and love for everybody!"%>