<p id="notice"><%= notice %></p>

<br>

<h1>reference: <%= @reference.title %></h1>

<dl class="dl-horizontal">
  <dt>Author:</dt>
  <dd><%= @reference.author %></dd>
  <dt>Title:</dt>
  <dd><%= @reference.title %></dd>
  <dt>Booktitle:</dt>
  <dd><%= @reference.booktitle %></dd>
  <dt>Editor:</dt>
  <dd><%= @reference.editor %></dd>
  <dt>Year:</dt>
  <dd><%= @reference.year %></dd>
  <dt>Pages:</dt>
  <dd><%= @reference.pagestart %> - <%= @reference.pageend %> </dd>
  <dt>Publisher:</dt>
  <dd><%= @reference.publisher %></dd>
  <dt>Month:</dt>
  <dd><%= @reference.month %></dd>
  <dt>Address:</dt>
  <dd><%= @reference.address %></dd>
  <dt>Note:</dt>
  <dd><%= @reference.note %></dd>
</dl>

<h2>As bibtex: </h2>



<p>To use this as a reference paste the following into a file named <i>file_name<b>.bib</b></i>.</p>

<br>
<%= @bibtex %>
<br>
<br>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>

<h3>Share:</h3>
<%= social_share_button_tag(@reference.title, :url => reference_path(@reference.id)) %>
