<p id="notice"><%= notice %></p>

<br>

<h1><%=@reference.referencetype%>: <%= @reference.key %></h1>

<ul>
  <li>Author: <%= @reference.author %></li>
  <li>Title: <%= @reference.title %></li>
  <li>Booktitle: <%= @reference.booktitle %></li>
  <li>Editor: <%= @reference.editor %></li>
  <li>Year: <%= @reference.year %></li>
  <li>Pages: <%= @reference.pagestart %> - <%= @reference.pageend %> </li>
  <li>Publisher: <%= @reference.publisher %></li>
  <li>Month: <%= @reference.month %></li>
  <li>Address: <%= @reference.address %></li>
  <li>Note: <%= @reference.note %></li>
</ul>

<h2>As bibtex: </h2>



<p>To use this as a reference paste the following into a file named <i>file_name<b>.bib</b></i>.</p>

<%= @bibtex %>
<br>
<br>

<% if @reference.referencetype=='Article'%>
    <%= link_to 'Edit', edit_article_path(@reference) %> |
<% elsif @reference.referencetype=='Book'%>
    <%= link_to 'Edit', edit_book_path(@reference) %> |
<% elsif @reference.referencetype=='Inproceedings'%>
    <%= link_to 'Edit', edit_inproceeding_path(@reference) %> |
<% end%>
<%= link_to 'Back', references_path %>

<h3>Share:</h3>
<%= social_share_button_tag(@reference.title, :url => reference_path(@reference.id)) %>
